@import url(https://fonts.googleapis.com/css?family=Roboto:1300,regular,500,500,600,700,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6F6E7A;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.3125rem 3.375rem;
  border-radius: 7.6875rem;
  background-color: #ea2638;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  color: #0f0e21;
  font-weight: 700;
  line-height: 1.1;
}

.title span {
  color: #ea2638;
}

.title--big {
  color: #fff;
}

.title--white {
  color: #fff;
}

.title--small {
  color: #0f0e21;
  line-height: 1.2;
}

.header {
  padding-top: 1.9375rem;
  padding-bottom: 1.9375rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__logo {
  max-width: 8.3125rem;
  height: 2.0625rem;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
}

.menu__link {
  color: #1f2431;
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.recruting__title {
  max-width: 50.625rem;
}

.recruting__text {
  max-width: 50.625rem;
  color: #6f6e7a;
  font-size: 20px;
  line-height: 1.3;
}

.recruting__wrapper {
  border-radius: 40px 40px 40px 40px;
  background-color: #f8f8f8;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.recruting__card {
  padding: 2.1875rem 2.8125rem 4.25rem 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recruting__image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #0f0e21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.recruting__image img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.recruting__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ea2638;
  bottom: 0.375rem;
  left: 0.3125rem;
  z-index: -1;
}

.recruting__card-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.recruting__card-title {
  color: #0f0e21;
  font-weight: 700;
  line-height: 1.2;
}

.recruting__card-title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.recruting__card-text {
  color: #6f6e7a;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}

.recruting__card-text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a img {
  max-width: 100%;
}

.a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  top: 5px;
  left: 5px;
  z-index: -1;
}

@media (min-width: 68.75em) {
  .title {
    font-size: 4rem;
  }

  .title--big {
    font-size: 4.6875rem;
  }

  .title--small {
    font-size: 2rem;
  }

  .header {
    padding-top: 1.9375rem;
  }

  .header {
    padding-bottom: 1.9375rem;
  }

  .menu__list {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .page__recruting {
    padding-top: 9.375rem;
  }

  .page__recruting {
    padding-bottom: 9.375rem;
  }

  .recruting__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .recruting__text:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .recruting__card-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 69.375em) {
  .recruting__card {
    gap: 2.8125rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
    z-index: 1;
    background-color: rgb(41, 45, 50);
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    background-color: #fff;
    z-index: 5;
    min-height: 5.9375rem;
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .menu__link {
    color: #fff;
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(41, 45, 50);
    border-radius: 1.25rem;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    width: 20%;
    bottom: 0;
  }

  .icon-menu span {
    width: 90%;
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    width: 100%;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (max-width: 24.375em) {
  .menu__body {
    padding-top: 6.875rem;
  }

  .menu__body::before {
    min-height: 4.75rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 24.375em) {
  .title {
    font-size: 1.75rem;
  }

  .title--big {
    font-size: 2.125rem;
  }

  .title--small {
    font-size: 1.5rem;
  }

  .header {
    padding-top: 1.34375rem;
  }

  .header {
    padding-bottom: 1.34375rem;
  }

  .page__recruting {
    padding-top: 3.125rem;
  }

  .page__recruting {
    padding-bottom: 3.125rem;
  }

  .recruting__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .recruting__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .recruting__card {
    gap: 1.25rem;
  }

  .recruting__card-title {
    font-size: 1.25rem;
  }
}

@media (min-width: 24.375em) and (max-width: 68.75em) {
@supports (font-size: clamp( 1.75rem , 0.514084507rem  +  5.0704225352vw , 4rem )) {
    .title {
      font-size: clamp( 1.75rem , 0.514084507rem  +  5.0704225352vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.514084507rem  +  5.0704225352vw , 4rem )) {
    .title {
      font-size: calc(1.75rem + 2.25 * (100vw - 24.375rem) / 44.375);
    }
}

@supports (font-size: clamp( 2.125rem , 0.7174295775rem  +  5.7746478873vw , 4.6875rem )) {
    .title--big {
      font-size: clamp( 2.125rem , 0.7174295775rem  +  5.7746478873vw , 4.6875rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 0.7174295775rem  +  5.7746478873vw , 4.6875rem )) {
    .title--big {
      font-size: calc(2.125rem + 2.5625 * (100vw - 24.375rem) / 44.375);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2253521127rem  +  1.1267605634vw , 2rem )) {
    .title--small {
      font-size: clamp( 1.5rem , 1.2253521127rem  +  1.1267605634vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2253521127rem  +  1.1267605634vw , 2rem )) {
    .title--small {
      font-size: calc(1.5rem + 0.5 * (100vw - 24.375rem) / 44.375);
    }
}

@supports (padding-top: clamp( 1.34375rem , 1.0176056338rem  +  1.338028169vw , 1.9375rem )) {
    .header {
      padding-top: clamp( 1.34375rem , 1.0176056338rem  +  1.338028169vw , 1.9375rem );
    }
}

@supports not (padding-top: clamp( 1.34375rem , 1.0176056338rem  +  1.338028169vw , 1.9375rem )) {
    .header {
      padding-top: calc(1.34375rem + 0.59375 * (100vw - 24.375rem) / 44.375);
    }
}

@supports (padding-bottom: clamp( 1.34375rem , 1.0176056338rem  +  1.338028169vw , 1.9375rem )) {
    .header {
      padding-bottom: clamp( 1.34375rem , 1.0176056338rem  +  1.338028169vw , 1.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.34375rem , 1.0176056338rem  +  1.338028169vw , 1.9375rem )) {
    .header {
      padding-bottom: calc(1.34375rem + 0.59375 * (100vw - 24.375rem) / 44.375);
    }
}

@supports (padding-top: clamp( 3.125rem , -0.3080985915rem  +  14.0845070423vw , 9.375rem )) {
    .page__recruting {
      padding-top: clamp( 3.125rem , -0.3080985915rem  +  14.0845070423vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -0.3080985915rem  +  14.0845070423vw , 9.375rem )) {
    .page__recruting {
      padding-top: calc(3.125rem + 6.25 * (100vw - 24.375rem) / 44.375);
    }
}

@supports (padding-bottom: clamp( 3.125rem , -0.3080985915rem  +  14.0845070423vw , 9.375rem )) {
    .page__recruting {
      padding-bottom: clamp( 3.125rem , -0.3080985915rem  +  14.0845070423vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , -0.3080985915rem  +  14.0845070423vw , 9.375rem )) {
    .page__recruting {
      padding-bottom: calc(3.125rem + 6.25 * (100vw - 24.375rem) / 44.375);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9066901408rem  +  1.4084507042vw , 1.875rem )) {
    .recruting__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.9066901408rem  +  1.4084507042vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9066901408rem  +  1.4084507042vw , 1.875rem )) {
    .recruting__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 24.375rem) / 44.375);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 0.4401408451rem  +  8.4507042254vw , 6.25rem )) {
    .recruting__text:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 0.4401408451rem  +  8.4507042254vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 0.4401408451rem  +  8.4507042254vw , 6.25rem )) {
    .recruting__text:not(:last-child) {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 24.375rem) / 44.375);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1126760563rem  +  0.5633802817vw , 1.5rem )) {
    .recruting__card-title {
      font-size: clamp( 1.25rem , 1.1126760563rem  +  0.5633802817vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1126760563rem  +  0.5633802817vw , 1.5rem )) {
    .recruting__card-title {
      font-size: calc(1.25rem + 0.25 * (100vw - 24.375rem) / 44.375);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .menu__body {
    padding-top: 7.5rem;
  }

  .menu__body::before {
    min-height: 5.37875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 24.375em) and (max-width: 47.99875em) {
@supports (padding-top: clamp( 6.875rem , 6.2301246098rem  +  2.6456426266vw , 7.5rem )) {
    .menu__body {
      padding-top: clamp( 6.875rem , 6.2301246098rem  +  2.6456426266vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 6.875rem , 6.2301246098rem  +  2.6456426266vw , 7.5rem )) {
    .menu__body {
      padding-top: calc(6.875rem + 0.625 * (100vw - 24.375rem) / 23.62375);
    }
}

@supports (min-height: clamp( 4.75rem , 4.1012553574rem  +  2.6615164824vw , 5.37875rem )) {
    .menu__body::before {
      min-height: clamp( 4.75rem , 4.1012553574rem  +  2.6615164824vw , 5.37875rem );
    }
}

@supports not (min-height: clamp( 4.75rem , 4.1012553574rem  +  2.6615164824vw , 5.37875rem )) {
    .menu__body::before {
      min-height: calc(4.75rem + 0.62875 * (100vw - 24.375rem) / 23.62375);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 68.75em) {
@supports ((-moz-column-gap: clamp( 1.875rem , -26.8228105906rem  +  46.2877244955vw , 5rem )) or (column-gap: clamp( 1.875rem , -26.8228105906rem  +  46.2877244955vw , 5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.875rem , -26.8228105906rem  +  46.2877244955vw , 5rem );
         -moz-column-gap: clamp( 1.875rem , -26.8228105906rem  +  46.2877244955vw , 5rem );
              column-gap: clamp( 1.875rem , -26.8228105906rem  +  46.2877244955vw , 5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -26.8228105906rem  +  46.2877244955vw , 5rem )) or (column-gap: clamp( 1.875rem , -26.8228105906rem  +  46.2877244955vw , 5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.875rem + 3.125 * (100vw - 61.99875rem) / 6.75125);
         -moz-column-gap: calc(1.875rem + 3.125 * (100vw - 61.99875rem) / 6.75125);
              column-gap: calc(1.875rem + 3.125 * (100vw - 61.99875rem) / 6.75125);
    }
}
}

@media (min-width: 24.375em) and (max-width: 69.375em) {
@supports (gap: clamp( 1.25rem , 0.4036458333rem  +  3.4722222222vw , 2.8125rem )) {
    .recruting__card {
      gap: clamp( 1.25rem , 0.4036458333rem  +  3.4722222222vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.4036458333rem  +  3.4722222222vw , 2.8125rem )) {
    .recruting__card {
      gap: calc(1.25rem + 1.5625 * (100vw - 24.375rem) / 45);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #c31e2e;
  }

  .menu__link:hover {
    color: #ea2638;
    text-decoration: underline;
  }
}